/* Education App Styles */
.education-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 2px solid var(--primary-color);
}

.education-date {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.education-item h3 {
    font-size: 16px;
    margin-bottom: 2px;
    color: var(--secondary-color);
}

.education-item h4 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #666;
}

.education-item p {
    font-size: 13px;
    color: #333;
} 